<div class="container">
  <h1>About</h1>
  	<p>I created this site to help convince my noob friends to visit me in one of the best cities in the world, Austin, TX. If you live in Austin and need help convincing friends who can't recognize a good thing when they see it like a blind man in a Victoria Secret runway show, feel free to use this site to help convince your friends as well. Maybe your friends can meet my friends, and we can be friends for the weekend :)
  	</p>

  <div class="row">
    <div class="span3">
    	<h1><center>Your Host</center></h1>
    		<p><center><strong>Sungho Yoo</strong></center></p>
    			<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash2/577922_10100319723712924_181232723_n.jpg" class="img-circle">
    		<p><center>26, Houston, TX, Funemployed</center></p>
   			<center><button class="btn btn-large btn-primary" type="button">Contact</button></center>
    </div>
  </div>
</div>