<h1>About</h1>
	<p>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
		is a project to teach
		<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is the sample application.
	</p>

<div class="row">
  <div class="span3">
  	<h1><center>Big Bro</center></h1>
  		<p><center><strong>Sungho Yoo</strong></center></p>
  			<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash2/577922_10100319723712924_181232723_n.jpg" class="img-circle">
  		<p><center>26, Houston, TX, Funemployed</center></p>
 			<center><button class="btn btn-large btn-primary" type="button">Contact</button></center>
  </div>
  <div class="span3">
  	<h1><center>Middle Bro</center></h1>
  		<p><center><strong>Daniel Yoo</strong></center></p>
  			<img src="https://sphotos-a-dfw.xx.fbcdn.net/hphotos-prn1/525325_4865014178747_2053527059_n.jpg" class="img-circle">
  		<p><center>23, Austin TX, Happiness Sumo @AppSumo</center></p>
  		<center><button class="btn btn-large btn-primary" type="button">Contact</button></center>
  </div>
    <div class="span3">
  	<h1><center>Little Bro</center></h1>
  		<p><center><strong>Edwardo Yoo</strong></center></p>
  			<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/397151_377384732273433_866951949_n.jpg" class="img-circle">
  		<p><center>16, Lake Mary FL, Lady Magnet</center></p>
  		<center><button class="btn btn-large btn-primary" type="button">Contact</button></center>
  </div>
</div>



