<h1>Learn more about this product</h1>
<p>
	This page has more information about how this product works
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>